<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Pokemon App</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <div class="container my-2">
            <h1>Pokemon List</h1>
            <a th:href =  "@{/showNewPokemonForm}" class="btn btn-primary btn-sm mb-3"> Add Pokemon </a>
            <table border="1" class="table table-striped table-responsive-md">
                <thead>
                    <tr>
                        <th>Name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="pokemon : ${listPokemons}">
                        <td th:text="${pokemon.name}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>